* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

.main-div {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.center-div {
	width: 100%;
	height: 80vh;
	background: #4ddbff;
	padding: 20px 0 0 0;
	box-shadow: 0 10px 20px 0 rgba(0,0,0,0.3);
	border-radius: 10px;
}

h1  {
	font-size: 18px;
	color: #000;
	text-align: center;
	margin-top: -20px;
	margin-bottom: 20px;
	text-transform: capitalize;
}

table {
	border-collapse: collapse;
	background-color: #fff;
	box-shadow: 0 10px 20px 0 rgba(0,0,0,0.03);
	border-radius: 10px;
	margin: auto;
}

th,td {
	border: 1px solid #f2f2f2;
	padding: 8px 30px;
	text-align: center;
	color: grey;
}

th {
	text-transform: uppercase;
	font-weight: 500;
	text-align: center;
}

td {
	font-size: 13px;
}

form {
	box-shadow: 0 10px 20px 0 rgba(0,0,0,0.3);
	border-radius: 10px;
}

.row {
	padding-top: 50px;
}